html {
    background-color: rgb(236, 255, 250);
}

nav {
    padding: 20px;
    background-color: rgb(175, 226, 255);
}

footer {
    font-size: 12px;
}

p {
    max-width: 600px;
}

#index-navigator {
    margin-left: 10px;
    margin-right: 10px;
    font-family: Baskerville, serif;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

#about-navigator {
    margin-left: 10px;
    margin-right: 10px;
    font-family: Baskerville, serif;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

#photography-navigator {
    margin-left: 10px;
    margin-right: 10px;
    font-family: Baskerville, serif;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

#social-navigator {
    margin-left: 10px;
    margin-right: 10px;
    font-family: Baskerville, serif;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

#header-image {
    margin: 10px;
}

#back-button {
    background-color: rgb(0, 173, 83);
    color: white;
    padding: 12px 28px;
    text-align: center;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.photo-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 10px;
    column-gap: 10px;
}

.gallery-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-auto-flow: dense;
    row-gap: 10px;
    column-gap: 10px;
}

#gallery-cover {
    width: 300px;
    height: 200px;
}

#grid-photo {
    width: 375px;
    height: 250px;
}