html {
    background-color: rgb(236, 255, 250);
    margin-left: 20%;
    margin-right: 20%;
}

nav {
    padding: 10%;
}

#index-navigator {
    margin-left: 7%;
    margin-right: 7%;
}

#about-navigator {
    margin-left: 7%;
    margin-right: 7%;
}

#photography-navigator {
    margin-left: 7%;
    margin-right: 7%;
}

#social-navigator {
    margin-left: 7%;
    margin-right: 7%;
}

#header-image {
    margin: 5%;
}

#back-button {
    background-color: darkgreen;
}
