html {
    background-color: rgb(236, 255, 250);
}

nav {
    padding: 20px;
}

#index-navigator {
    margin-left: 10px;
    margin-right: 10px;
    font-family: Baskerville, serif;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

#about-navigator {
    margin-left: 10px;
    margin-right: 10px;
    font-family: Baskerville, serif;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

#photography-navigator {
    margin-left: 10px;
    margin-right: 10px;
    font-family: Baskerville, serif;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

#social-navigator {
    margin-left: 10px;
    margin-right: 10px;
    font-family: Baskerville, serif;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

#header-image {
    margin: 10px;
}

#back-button {
    background-color: rgb(0, 173, 83);
    color: white;
    padding: 12px 28px;
    text-align: center;
    font-size: 15px;
}
