html {
    background-color: rgb(236, 255, 250);
}

nav {
    padding: 20px;
    background-color: rgb(175, 226, 255);
}

footer {
    font-size: 12px;
}

p {
    max-width: 600px;
}

img {
    max-width: 100%;
    height: auto;
}

#index-navigator {
    margin-left: 10px;
    margin-right: 10px;
    font-family: Baskerville, serif;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

#about-navigator {
    margin-left: 10px;
    margin-right: 10px;
    font-family: Baskerville, serif;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

#photography-navigator {
    margin-left: 10px;
    margin-right: 10px;
    font-family: Baskerville, serif;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

#video-navigator {
    margin-left: 10px;
    margin-right: 10px;
    font-family: Baskerville, serif;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

#social-navigator {
    margin-left: 10px;
    margin-right: 10px;
    font-family: Baskerville, serif;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

#header-image {
    margin-top: 10px;
}

#back-button {
    background-color: rgb(0, 173, 83);
    color: white;
    padding: 12px 28px;
    text-align: center;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#send-button {
    background-color: rgb(46, 140, 255);
    color: white;
    padding: 10px 15px;
    text-align: center;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.photo-grid {
    display: grid;
    grid-template-columns: auto;
    row-gap: 10px;
    column-gap: 10px;
}

.gallery-grid {
    display: grid;
    grid-template-columns: auto;
    row-gap: 10px;
    column-gap: 10px;
    max-width: 70%;
}

.video-grid {
    display: grid;
    grid-template-columns: auto;
    row-gap: 10px;
    column-gap: 10px;
}

@media (min-width: 600px) {
  .photo-grid { grid-template-columns: repeat(2, 1fr); }
  .gallery-grid { grid-template-columns: repeat(2, 1fr); }
  .video-grid { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 900px) {
  .photo-grid { grid-template-columns: repeat(3, 1fr); }
  .gallery-grid { grid-template-columns: repeat(3, 1fr); }
  .video-grid { grid-template-columns: repeat(3, 1fr); }
}

#gallery-cover {
    width: 300px;
    height: auto;
}

#grid-photo {
    width: 375px;
    height: auto;
}

#grid-video {
    width: 450px;
    height: 300px;
    max-width: 100%;
}

input[type=text] {
    width: 50%;
    padding: 12px 20px;
    margin: 10px;
    box-sizing: border-box;
}

input[type=email] {
    width: 50%;
    padding: 12px 20px;
    margin: 10px;
    box-sizing: border-box;
}

textarea {
    padding: 12px 20px;
    margin: 10px;
}

/* For lightbox. Starter code courtesy to free code camp */

*, *:before, *:after {
    box-sizing: inherit;
  }

/* You define the style of our previews here, you are using flex to display the images 
   "responsively". */

.preview {
    width: 100%;
}
  
.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
  
.row > .col {
    padding: 0 8px;
}
  
.col {
    float: left;
    width: 25%;
}
  
/* Now you want to define what the lightbox will look like. Note that you have the display
    as none. You don't want it to show until the user clicks on one of the previews. 
    You will change this display property with JavaScript below. */
     
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
}
  
.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding: 0 0 0 0;
    max-width: 80%;
}
  
/* Same with your slides, you set the display to none, because you want to choose which 
    one is shown at a time. */
  
.slide {
    display: none;
}
  
.image-slide {
    width: 900px;
    height: auto;
    max-width:80%;
    margin: 30px 30px 30px 30px;
}
  
.modal-preview {
    width: 100%;
}
  
.dots {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
  
/* You want the previews a little transparent to show that they are "inactive". 
    You then add an .active or :hover class to animate the selections for your user when
    they interact with your controls and clickable content.
*/
  
img.preview, img.modal-preview {
    opacity: 0.6;
}
  
img.active,
.preview:hover,
.modal-preview:hover {
    opacity: 1;
}
  
img.hover-shadow {
    transition: 0.3s;
}
  
.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} 
  
.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}
  
.previous,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}
  
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
  
.previous:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}