html {
    background-color: rgb(236, 255, 250);
    margin-left: 5%;
    margin-right: 5%;
}

nav {
    padding: 20px;
}

#index-navigator {
    margin-left: 10px;
    margin-right: 10px;
}

#about-navigator {
    margin-left: 10px;
    margin-right: 10px;
}

#photography-navigator {
    margin-left: 10px;
    margin-right: 10px;
}

#social-navigator {
    margin-left: 10px;
    margin-right: 10px;
}

#header-image {
    margin: 10px;
}

#back-button {
    background-color: rgb(0, 173, 83);
    color: white;
    padding: 12px 28px;
    text-align: center;
    font-size: 16px;
}
